version: '2'

services:
  redis:
    image: redis:6.0
    container_name: redis
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes --requirepass cGFzc3cwcmRAcmVkaXMK

volumes:
  redis-data:
